# Dev environment
DEV_APP_PORT=8085
DEV_TRANSMISSION_HOST=localhost
DEV_TRANSMISSION_PORT=9091
DEV_TRANSMISSION_USERNAME=
DEV_TRANSMISSION_PASSWORD=
DEV_RUTRACKER_USERNAME=
DEV_RUTRACKER_PASSWORD=
DEV_AUTH_DB_PATH=../auth/data/auth.db
DEV_DATABASE_PATH=./data-dev/backend.sqlite

# Prod environment (used in Docker)
PROD_APP_PORT=8080
PROD_TRANSMISSION_HOST=host.docker.internal
PROD_TRANSMISSION_PORT=9091
PROD_TRANSMISSION_USERNAME=
PROD_TRANSMISSION_PASSWORD=
PROD_RUTRACKER_USERNAME=
PROD_RUTRACKER_PASSWORD=
PROD_AUTH_DB_PATH=/app/auth-data/auth.db
PROD_DATABASE_PATH=/data/backend.sqlite
